body {
  font-size: 18px;
  margin: 20px;
}

.link {
  display: inline-block;
  padding: 10px 5px;
  border: 2px solid blue;
  margin-left: 3px;
  text-decoration: none;
  transition: transform 0.2s linear;
}

.link:hover {
  transform: rotate(30deg);
}
